:root{

  --card-font: 'Roboto Condensed', sans-serif; ;
  --card-font-size: 3em;

  --card-width: 333px;
  --card-height: 500px;

  --card-hero-width: 450px;
  --card-hero-height: 675px;

  --card1-top:25%;
  --card1-left:calc(25% - (var(--card-width)/2));

  --card2-top:20%;
  --card2-left:calc(50% - (var(--card-width)/2));

  --card3-top:25%;
  --card3-left:calc(75% - (var(--card-width)/2));

  --card-border: 1px solid black;
  --card-border-radius: 5%;

  --card-rotate: rotate(10deg);
  --card-rotate-CW: rotate(-10deg);


  --flip-delay: 1;
  --anim-focus-speed: 1s;

  --anim-hover-speed: .2s;  

  --anim-draw-speed: 1s;
  --anim-discard-speed: 1s;

  --anim-deckhide-speed: .5s;

  --anim-flip-speed: 1s;
  --anim-flip-delay: calc(var(--anim-focus-speed) * var(--flip-delay));
}

/* Base Classes */

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.background{
  position:absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background-image: url(./imgs/imgBackground.png);
  /*background-image: linear-gradient(180deg, white, white, white, white, grey);*/
  z-index: -999;
}


.title{
  font-family: var(--card-font);
  text-decoration: underline;
  text-align: center; 
}

#gameWindow{
  display:contents;
}

.front-img{
  border-radius: var(--card-border-radius);
  height: 100%;
  width: 100%;
  z-index: -1;
}


/* Card Classes */
/* size */
.card{
  height: var(--card-height);
  width: var(--card-width);
  z-index: 0;
  border-radius: var(--card-border-radius);
  
}


/* position */
.card-pos1{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  transform: rotate(0deg);
}

.card-pos2{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  transform: rotate(0deg);
}

.card-pos3{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  transform: rotate(0deg);
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--anim-hover-speed) ease;  
  -moz-transition: all var(--anim-hover-speed) ease;  
  -o-transition: all var(--anim-hover-speed) ease;  
  -ms-transition: all var(--anim-hover-speed) ease;  
  transition: all var(--anim-hover-speed) ease;
  transform-style: preserve-3d;  
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border: var(--card-border);
  border-radius: var(--card-border-radius);
}

.back {
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 0 20px 5px rgba(51, 51, 51, .5) ;
  background-color: ghostwhite ;
}


.front{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front::after{
  box-shadow: inset 0 0 10px 5px rgba(51, 51, 51, .5);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  border-radius: var(--card-border-radius);
}

.front:hover::after{
  box-shadow: inset 0 0 20px 10px rgba(51, 51, 51, .75);
}





/* Card Detail Classes*/

.card-text{
  text-align: center;
  font-family: var(--card-font);
  padding: 30px;
  font-size: var(--card-font-size);
  text-justify: inter-character;
}

.card-id{
  width: 30%;
  font-size: 1em;
  color: gray;
  position: fixed;
  top: 95%;
  left: 60%;
  font-family:'Roboto Mono', monospace; ;
}


.fail{
  font-style: italic;
  color: red;
}


/* Card Animation Classes - ANIMATIONS TO BE PLAYED AS CLASS ADDED*/

.card-focus1{
  animation: cardFocus1 var(--anim-focus-speed) ease-out forwards;
}
.card-focus2{
  animation: cardFocus2 var(--anim-focus-speed) ease-out forwards;
}
.card-focus3{
  animation: cardFocus3 var(--anim-focus-speed) ease-out forwards;
}
.cardflip{
  animation: cardFlip var(--anim-flip-speed) ease-out var(--anim-flip-delay) forwards;
}
.card-discard1{
  animation: cardDiscard1 var(--anim-discard-speed) 1 forwards;
}
.card-discard2{
  animation: cardDiscard2 var(--anim-discard-speed) 1 forwards;
}
.card-discard3{
  animation: cardDiscard3 var(--anim-discard-speed) 1 forwards;
}
.card-draw1{
  animation: cardDraw1 var(--anim-draw-speed) .4s 1 forwards;
}
.card-draw2{
  animation: cardDraw2 var(--anim-draw-speed) .6s 1 forwards;
}
.card-draw3{
  animation: cardDraw3 var(--anim-draw-speed) .8s 1 forwards;
}


.card-spice{
  animation: cardSpiceEase 2s 1s 1 forwards, cardSpice 5s ease-in 4s infinite;
}


@keyframes cardSpiceEase {
  0%{
    box-shadow: -3px 5px 26px -9px white, 
  }

  100%{
    box-shadow: -3px 5px 26px -9px rgba(255, 0, 34, 1), 
                5px -5px 46px -25px rgba(255, 137, 0, 1), 
                -1px -1px 20px -5px rgba(242, 255, 0, 1);
  }
  
}
@keyframes cardSpice {
  0%{
    box-shadow: -3px 5px 26px -9px rgba(255, 0, 34, 1), 
                5px -5px 46px -25px rgba(255, 137, 0, 1), 
                -1px -1px 20px -5px rgba(242, 255, 0, 1);
  }

  24%{
    box-shadow: -1px 8px 26px -9px #9B2B2D, 
                -6px -1px 20px -5px #FFF65E, 
                -1px -5px 24px -12px #FF0400;
  }

  50%{
    box-shadow: 2px 0px 60px -39px #EEFF00, 
                -3px 3px 15px 1px #FF7700, 
                5px -5px 20px 2px #FF0004;
  }

  75%{
    box-shadow: 2px 0px 60px -39px #DAEA00, 
                -3px 3px 12px 3px #D80003, 
                5px -5px 30px 2px #ff7b00;
  }

  100%{
    box-shadow: -3px 5px 26px -9px rgba(255, 0, 34, 1), 
                5px -5px 46px -25px rgba(255, 137, 0, 1), 
                -1px -1px 20px -5px rgba(242, 255, 0, 1);
  }
}




@keyframes cardFlip {
  from{}
  to{
    transform: rotateY(180deg);
  }
}

@keyframes cardDraw1{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  to{
    top: var(--card1-top);
    left: var(--card1-left);
    transform: var(--card-rotate-CW);
  }
}

@keyframes cardDraw2{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  to{
    top: var(--card2-top);
    left: var(--card2-left);
    transform: rotate(0deg);
  }
}

@keyframes cardDraw3{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  100%{
    top: var(--card3-top);
    left: var(--card3-left);
    transform:var(--card-rotate);
  }
}

@keyframes cardDiscard1 {
  from {
    top: var(--card1-top);
    left: var(--card1-left);
  }
  to{
    top: 110%;
    transform: rotate(0deg);
  }
}

@keyframes cardDiscard2 {
  from {
    top: var(--card2-top);
    left: var(--card2-left);
  }
  to{
    top: 110%;
    transform: rotate(0deg);
  }
}

@keyframes cardDiscard3 {
  from {
    top: var(--card3-top);
    left: var(--card3-left);
  }
  to{
    top: 110%;
    transform: rotate(0deg);
  }
}

@keyframes cardFocus1 {
  from {
    top: var(--card1-top);
    left: var(--card1-left);
    transform: rotate(-10deg);
  }
  100%{
    top: 15%;
    left: calc(50% - ((var(--card-hero-width)))/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    transform: rotate(0deg);
  }
}

@keyframes cardFocus2 {
  from {
    top: var(--card2-top);
    left: var(--card2-left);
  }
  100%{
    top: 15%;
    left: calc(50% - var(--card-hero-width)/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    transform: rotate(0deg);

  }
}

@keyframes cardFocus3 {
  from {
    top: var(--card3-top);
    left: var(--card3-left);
    transform: rotate(10deg);
  }
  100%{
    top: 15%;
    left: calc(50% - var(--card-hero-width)/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    transform: rotate(0deg);
  }
}



/* Deck Classes */

.deck{
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  position: absolute;
  z-index: 2;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  height: var(--card-height);
  width: var(--card-width);
  transition: .5s;
}

/* Deck Animation Classes */

.deck:hover{
  box-shadow: 0px 0px 5px 6px gray;
}


.deck-hide {
  animation: hideDeck var(--anim-deckhide-speed) ease-out 1.5s forwards ;
}

.deck-show {
  animation: showDeck var(--anim-deckhide-speed) ease-in  forwards;
}



@keyframes hideDeck {
  from {
    top: calc(100% - (var(--card-height)/2.5));
  }
  to{
    height: calc(var(--card-height)*.9);
    width: calc(var(--card-width)*.9);
    top: calc(100%);

  }

}


@keyframes showDeck {

  from{
    height: calc(var(--card-height)*.9);
    width: calc(var(--card-width)*.9);
    top: calc(100%);
  }

  to{
    top: calc(100% - (var(--card-height)/2.5));
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  :root{
    --card-font-size: 1.5em;

    --card-width: 200px;
    --card-height: 300px;
  
    --card-hero-width: 250px;
    --card-hero-height: 375px;
  
    --card1-top:10%;
    --card1-left:calc(40% - (var(--card-width)/2));
  
    --card2-top:25%;
    --card2-left:calc(50% - (var(--card-width)/2));
  
    --card3-top:40%;
    --card3-left:calc(60% - (var(--card-width)/2));

    --card-rotate:rotate(5deg);
    --card-rotate-CW:rotate(-5deg);

  }
  .card-id{
    width: 50%;
    font-size: 1em;
    top: 90%;
    left: 50%;
  }
  

}

