:root{

  --card-font: 'Roboto Condensed', sans-serif; ;
  --card-font-size: 3em;



  --card-width: 333px;
  --card-height: 500px;

  --card-hero-width: 400px;
  --card-hero-height: 600px;

  --card1-top:25%;
  --card1-left:calc(25% - (var(--card-width)/2));

  --card2-top:20%;
  --card2-left:calc(50% - (var(--card-width)/2));

  --card3-top:25%;
  --card3-left:calc(75% - (var(--card-width)/2));

  --card-border: 1px solid black;
  --card-border-radius: 5%;
 
  --flip-delay: 1;
  --anim-focus-speed: 1s;

  --anim-hover-speed: .2s;  

  --anim-draw-speed: 1s;
  --anim-discard-speed: 1s;

  --anim-deckhide-speed: .5s;

  --anim-flip-speed: 1s;
  --anim-flip-delay: calc(var(--anim-focus-speed) * var(--flip-delay));
}

/* Base Classes */

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(180deg, white, white, white, white, grey);
}

.title{
  font-family: var(--card-font);
  text-decoration: underline;
  text-align: center; 
}

#gameWindow{
  display:contents;
}

img{
  border-radius: var(--card-border-radius);
  height: 100%;
  width: 100%
}


/* Card Classes */
/* size */
.card{
  height: var(--card-height);
  width: var(--card-width);
  z-index: 0;
  border-radius: var(--card-border-radius);
  
}


/* position */
.card-pos1{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  rotate: 0deg;
}

.card-pos2{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  rotate: 0deg;
}

.card-pos3{
  position: fixed;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  rotate: 0deg;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--anim-hover-speed) ease;  
  -moz-transition: all var(--anim-hover-speed) ease;  
  -o-transition: all var(--anim-hover-speed) ease;  
  -ms-transition: all var(--anim-hover-speed) ease;  
  transition: all var(--anim-hover-speed) ease;
  transform-style: preserve-3d;  
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border: var(--card-border);
  border-radius: var(--card-border-radius);
}

.back {
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front:hover{
  box-shadow: 0 0 8px 6px pink;
}

/* Card Detail Classes*/

.card-text{
  text-align: center;
  font-family: var(--card-font);
  padding: 30px;
  font-size: var(--card-font-size);
  text-justify: inter-character;
}

.card-id{
  width: 30%;
  font-size: 1em;
  color: gray;
  position: fixed;
  top: 95%;
  left: 60%;
  font-family:'Roboto Mono', monospace; ;
}


.fail{
  font-style: italic;
  color: red;
}


/* Card Animation Classes - ANIMATIONS TO BE PLAYED AS CLASS ADDED*/

.card-1-front:hover{
  animation: cardHighlight1 .2s 1 forwards;
}

.card-focus1{
  animation: cardFocus1 var(--anim-focus-speed) ease-out forwards;
}
.card-focus2{
  animation: cardFocus2 var(--anim-focus-speed) ease-out forwards;
}
.card-focus3{
  animation: cardFocus3 var(--anim-focus-speed) ease-out forwards;
}
.cardflip{
  animation: cardFlip var(--anim-flip-speed) ease-out var(--anim-flip-delay) forwards;
}
.card-discard1{
  animation: cardDiscard1 var(--anim-discard-speed) 1 forwards;
}
.card-discard2{
  animation: cardDiscard2 var(--anim-discard-speed) 1 forwards;
}
.card-discard3{
  animation: cardDiscard3 var(--anim-discard-speed) 1 forwards;
}
.card-draw1{
  animation: cardDraw1 var(--anim-draw-speed) .4s 1 forwards;
}
.card-draw2{
  animation: cardDraw2 var(--anim-draw-speed) .6s 1 forwards;
}
.card-draw3{
  animation: cardDraw3 var(--anim-draw-speed) .8s 1 forwards;
}

@keyframes cardFlip {
  from{}
  to{
    transform: rotateY(180deg);
  }
}

@keyframes cardDraw1{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  to{
    top: var(--card1-top);
    left: var(--card1-left);
    rotate: -10deg;
  }
}

@keyframes cardDraw2{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  to{
    top: var(--card2-top);
    left: var(--card2-left);
    rotate: 0deg;
  }
}

@keyframes cardDraw3{
  from{
    top: calc(100% - (var(--card-height)/2.5));
    left:calc(50% - (var(--card-width)/2));
  }
  100%{
    top: var(--card3-top);
    left: var(--card3-left);
    rotate: 10deg;
  }
}

@keyframes cardDiscard1 {
  from {
    top: var(--card1-top);
    left: var(--card1-left);
  }
  to{
    top: 110%;
    rotate: 0deg;
  }
}

@keyframes cardDiscard2 {
  from {
    top: var(--card2-top);
    left: var(--card2-left);
  }
  to{
    top: 110%;
    rotate: 0deg;
  }
}

@keyframes cardDiscard3 {
  from {
    top: var(--card3-top);
    left: var(--card3-left);
  }
  to{
    top: 110%;
    rotate: 0deg;
  }
}


@keyframes cardHighlight1 {
  from{

  }
  to{

    height: calc(var(--card-height) * .95);
    width: calc(var(--card-width) * .95);
  }
}

@keyframes cardHighlight2 {
  from{
    top: var(--card1-top);
    left: var(--card1-left);
  }
  to{
    height: calc(var(--card-height) * 1.05);
    width: calc(var(--card-width) * 1.05);
  }
}

@keyframes cardHighlight3 {
  from{
    top: var(--card1-top);
    left: var(--card1-left);
  }
  to{
    height: calc(var(--card-height) * .95);
    width: calc(var(--card-width) * .95);
  }
}

@keyframes cardFocus1 {
  from {
    top: var(--card1-top);
    left: var(--card1-left);
    rotate: -10deg;
  }
  100%{
    top: 15%;
    left: calc(50% - ((var(--card-hero-width)))/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    rotate: 0deg;
  }
}

@keyframes cardFocus2 {
  from {
    top: var(--card2-top);
    left: var(--card2-left);
  }
  100%{
    top: 15%;
    left: calc(50% - var(--card-hero-width)/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    rotate: 0deg;

  }
}

@keyframes cardFocus3 {
  from {
    top: var(--card3-top);
    left: var(--card3-left);
    rotate: 10deg;
  }
  100%{
    top: 15%;
    left: calc(50% - var(--card-hero-width)/2);
    height: var(--card-hero-height);
    width: var(--card-hero-width);
    rotate: 0deg;
  }
}



/* Deck Classes */

#deck{
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  position: absolute;
  z-index: 2;
  top: calc(100% - (var(--card-height)/2.5));
  left:calc(50% - (var(--card-width)/2));
  height: var(--card-height);
  width: var(--card-width);
}

/* Deck Animation Classes */

.deck:hover{
  box-shadow: 0px 0px 5px 6px gray;
}


.deck-hide {
  animation: hideDeck var(--anim-deckhide-speed) ease-out 1.5s forwards ;
}

.deck-show {
  animation: showDeck var(--anim-deckhide-speed) ease-in  forwards;
}



@keyframes hideDeck {
  from {
    top: calc(100% - (var(--card-height)/2.5));
  }
  to{
    height: calc(var(--card-height)*.9);
    width: calc(var(--card-width)*.9);
    top: calc(100%);

  }

}


@keyframes showDeck {

  from{
    height: calc(var(--card-height)*.9);
    width: calc(var(--card-width)*.9);
    top: calc(100%);
  }

  to{
    top: calc(100% - (var(--card-height)/2.5));
  }
}
